<div class="container mt-2">
    <div>
        <h2>Modifier un Doctor :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2" hidden>
            <label>ID Doctor</label>
            <input type="text" [(ngModel)]="currentDoctor.idDoctor" name="idDoctor" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Name Doctor</label>
            <input type="text" [(ngModel)]="currentDoctor.nameDoctor" name="nameDoctor" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Age Doctor</label>
            <input type="number" [(ngModel)]="currentDoctor.ageDoctor" name="ageDoctor" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Service Doctor</label>
            <input type="text" [(ngModel)]="currentDoctor.serviceDoctor" name="serviceDoctor" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date Of Recruitment</label>
            <input type="date" [ngModel]="currentDoctor.dateDoctor | date: 'yyyy-MM-dd'"
                (ngModelChange)=" currentDoctor.dateDoctor= $event" name="dateDoctor" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Hospital</label>
            <select class="form-control form-control-lg" id="idHospital" name="idHospital" [(ngModel)]="updateHosId">
                <option *ngFor="let hos of hospitals" [value]="hos.idHospital">
                    {{hos.nameHospital}}
                </option>
            </select>
        </div>
        <div class="col-sm-16 col-md-16 col-lg-16">
            <label class="mb-2">Image :</label>
            <input type="file" (change)="onImageUpload($event)" class="form-control">
        </div>
        <div class="mt-2">
            <button type="submit" (click)="onAddImageDoctor()" class="btn btn-success">Ajouter Image</button>
        </div>

        <div class="col-sm-16 col-md-16 col-lg-16">
            <img [src]="myImage" class="card-img-top img-fluid rounded-start" style="width: 500px; height: 300px" />
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Images</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let img of currentDoctor.images">
                        <tr>
                            <td><img class="card-img-top img-responsive"
                                    src="{{'data:' + img.type + ';base64,' + img.image}}"
                                    style="height :70px;width:100px"></td>
                            <td style="width:20%" ><a class="btn btn-danger" (click)="supprimerImage(img)">Supprimer</a></td>
                                    
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-3">
            <button type="submit" (click)=" updateDoctor()" class="btn btn-success">Modifer</button>
        </div>
    </form>
</div>