<div class="container mt-5">
    <div>
        <h2>Ajouter un Doctor :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2" hidden>
            <label>ID Doctor</label>
            <input type="text" [(ngModel)]="newDoctor.idDoctor" name="idDoctor" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Doctor</label>
            <input type="text" [(ngModel)]="newDoctor.nameDoctor" name="nameDoctor" class="form-control w-100">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Age Doctor</label>
            <input type="number" [(ngModel)]="newDoctor.ageDoctor" name="ageDoctor" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Service Doctor</label>
            <input type="text" [(ngModel)]="newDoctor.serviceDoctor" name="serviceDoctor" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date Of Recruitment</label>
            <input type="date" [(ngModel)]="newDoctor.dateDoctor" name="dateDoctor" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Hospital</label>
            <select class="form-control form-control-lg" id="idHospital" name="idHospital" [(ngModel)]="newIdHos">
                <option *ngFor="let hos of hospitals" [value]="hos.idHospital">
                    {{hos.nameHospital}}
                </option>
            </select>
        </div>

        <div class="col-sm-16 col-md-16 col-lg-16">
            <label class="mb-2">Image :</label>
            <input type="file" (change)="onImageUpload($event)" name="logo" class="form-control">
        </div>

        <div class="col-sm-16 col-md-16 col-lg-16">
            <img [src]="imagePath" class="card-img-top img-fluid rounded-start" style="width: 500px; height: 300px" />
        </div>
        <div class="mt-2">
            <button type="submit" (click)="addDoctor()" class="btn btn-success">Ajouter</button>
        </div>

    </form>
</div>