<div class="container mt-5">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <app-update-hospital 
            [hospital]="updatedHosp"
            [ajout]="ajout"
            (hospitalUpdated)= "hospitalUpdated($event)" >
        >
        </app-update-hospital>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom Hospital</th>
                        <th>Adresse Hospital</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let hosp of hospitals">
                    <tr>
                        <td>{{hosp.idHospital}}</td>
                        <td>{{hosp.nameHospital}}</td>
                        <td>{{hosp.adresseHospital}}</td>
                        <td><a class="btn btn-success" (click)="updateHospital(hosp)">Editer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>