<div class="container mt-5">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Name Doctor</th>
                    <th>Age Doctor</th>
                    <th>Service Doctor</th>
                    <th>Date Of Recruitment</th>
                    <th colspan="2">Actions</th>
                </tr>
                <tbody *ngFor="let doctor of doctors">
                    <tr>
                        <td>{{doctor.idDoctor}}</td>
                        <td>{{doctor.nameDoctor}}</td>
                        <td>{{doctor.ageDoctor}}</td>
                        <td>{{doctor.serviceDoctor}}</td>
                        <td>{{doctor.dateDoctor | date:'dd/MM/yyyy'}}</td>
                        <td><a class="btn btn-danger" (click)="supprimerDoctor(doctor)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/updateDoctor',doctor.idDoctor]">Modifier</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>